.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.triangle {
  --r: 20px; /* border radius */
  aspect-ratio: 1 / cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) bottom var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(from -30deg at 50% calc(200% - 3 * var(--r) / 2), #000 60deg, #0000 0) 0 100%/100%
      calc(100% - 3 * var(--r) / 2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2 * var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at left var(--_g)), radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  object-fit: cover;
}

/* HTML: <img class="rhombus" src="" alt=""> */
.rhombus {
  --r: 30px; /* the radius */

  aspect-ratio: 1;
  margin: calc(tan(22.5deg) * var(--r));
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%) margin-box;
  --_g: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(#000 70%, #0000 72%);
  --_s: calc(100% - (1 - tan(22.5deg)) * var(--r));
  mask: conic-gradient(#000 0 0) no-repeat 50% / var(--_s) var(--_s), top var(--_g) no-repeat space,
    left var(--_g) space no-repeat;
  background: #88a65e;
}

.circle {
  border-radius: 100%;
  object-fit: cover;
}

/* styles.css */
.anchor_animated a {
  @apply block relative;
  padding: 0.2em 0;
  overflow: hidden;
  width: fit-content;
}

.anchor_animated a::after {
  content: '';
  @apply absolute bottom-0 left-0 w-full h-[0.15em] bg-violet-blue opacity-0 transition-opacity transition-transform duration-300;
  transform: translate3d(-100%, 0, 0);
}

.anchor_animated a:hover::after {
  @apply opacity-100;
  transform: translate3d(0, 0, 0);
}
