@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Silka;
    font-weight: 400;
    src: url(/fonts/Silka/silka-400-regular.ttf) format("truetype");
    font-display: swap;
  }

  @font-face {
    font-family: Silka;
    font-weight: 400;
    src: url(/fonts/Silka/silka-400-italic.ttf) format("truetype");
    font-display: swap;
    font-style: italic;
  }

  html {
    font-family: Silka, sans-serif;
  }
}

body {
  background-color: #151515;
  overflow-x: hidden;
}
